{
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 120,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "quoteProps": "as-needed",
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": true
  }
  